@{
  Layout = "_Layout";
}

@model Library.Models.Patron

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" All Patrons", "Index", null, null, new { @class="btn btn-info fa fa-address-book-o" })
<hr />
<p>Add Patron</p>
<hr />
@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Label("Title")</td>
      <td>@Html.TextBoxFor(model => model.Title)</td>
    </tr>
    <tr>
      <td>@Html.Label("Description")</td>
      <td>@Html.TextAreaFor(model => model.Description)</td>
    </tr>
    <tr>
      <td>@Html.Label("Author")</td>
      <td>@Html.DropDownList("AuthorId")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-default fa" ><i class="fa-user-plus"> Add Book</i></button>
}
<hr />