@{
  Layout = "_Layout";
}

@model Library.Models.Book;

<h2>Category Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.Authors.Count == 0)
{
  <p>This category does not contain any Authors</p>
}
else
{
  <h4>Authors the category contains:</h4>
  <ul>
  @foreach(var join in Model.Authors)
  {
    <li>@join.Author.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to books", "Index")</p>
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p>