@{
  Layout = "_Layout";
}

@model Library.Models.Book;

<h2> Details</h2>
<h4>@Html.DisplayFor(model => model.Title)</h4>
<hr />
<h2>About: </h2>
<h4>@Html.DisplayFor(model => model.Description)</h4>

@if (@Model.Authors.Count == 0)
{
  <p>This category does not contain any Authors</p>
}
else
{
  @foreach (var join in Model.Authors)
  {
    <li>@Html.ActionLink(@join.Author.Name, "Details", "Authors", new { id = join.Author.AuthorId })
      @Html.ActionLink("Delete", "DeleteAuthor", "Books", new { joinId = @join.AuthorBookId, BookId = Model.BookId }, new {
  @class="btn btn-info fa fa-times" })
    </li>
  }
}

<p>@Html.ActionLink("Back to books", "Index")</p>
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p>