@{
  Layout = "_Layout";
}

@model Library.Models.Book;

<h2> Details</h2>
<h4>@Html.DisplayFor(model => model.Title)</h4>
<hr />
<h2>About: </h2>
<h4>@Html.DisplayFor(model => model.Description)</h4>
<p>This book has @ViewBag.CopyCount copies.</p>

@Html.ActionLink("Add Copy", "AddCopy", null, new { id = Model.BookId }, new { @class = "btn btn-info fa fa-plus"})
@Html.ActionLink("Delete Copy", "DeleteCopy", null, new { id = Model.BookId }, new { @class = "btn btn-info fa fa-times"})

@if (@Model.Authors.Count == 0)
{
  <p>This category does not contain any Authors</p>
}
else
{
  @foreach (var join in Model.Authors)
  {
    <li>@Html.ActionLink(@join.Author.Name, "Details", "Authors", new { id = join.Author.AuthorId })
      @Html.ActionLink("Delete", "DeleteAuthor", "Books", new { joinId = @join.AuthorBookId, BookId = Model.BookId }, new {
  @class="btn btn-info fa fa-times" })
    </li>
  }
}

<Button>@Html.ActionLink("Back to books", "Index")</Button>
<Button>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</Button>
<Button>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</Button>