@{
  Layout = "_Layout";
}

@model Library.Models.Book

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" All Books", "Index", null, null, new { @class="btn btn-info fa fa-address-book-o" })
<hr />

<p>Edit @Html.DisplayFor(model => model.Title)</p>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)
  <table>
    <tr>
      <td>@Html.LabelFor(model => model.Title)</td>
      <td>@Html.EditorFor(model => model.Title)</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Description)</td>
      <td>@Html.EditorFor(model => model.Description)</td>
    </tr>
    if (ViewBag.AuthorId > 0 )
    {
      <tr>
        <td>@Html.Label("Select Author")</td>
        <td>@Html.DropDownList("AuthorId")</td>
      </tr>
    }
  </table>
  <button type="submit" class="btn btn-info fa"><i class="fa-edit"> Save</i></button>
}
<hr />
