Copy Details
@* @{
  Layout = "_Layout";
  }

  @model Library.Models.Copy;

  <h2>Copy Details</h2>
  <hr />
  <h3>@Html.DisplayNameFor(model => model.OnShelf): @Html.DisplayFor(model => model.OnShelf)</h3>

  @if(@Model.Book.Count == 0)
  {
  <p>This Copy does not contain any Patrons</p>
  }
  else
  {
  <h4>Patrons the Copy contains:</h4>
  <ul>
  @foreach(var join in Model.Patrons) // working on this copy class
  {
  <li>@join.Patron.Name</li>
  }
  </ul>
  }

  <p>@Html.ActionLink("Back to patrons", "Index")</p>
  <p>@Html.ActionLink("Edit Copy", "Edit", new { id = Model.CopyId })</p>
  <p>@Html.ActionLink("Delete Copy", "Delete", new { id = Model.CopyId })</p> *@