@{
  Layout = "_Layout";
}

@model Library.Models.Copy

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" All Copies", "Index", null, null, new { @class="btn btn-info fa fa-address-book-o" })
<hr />

<p>Edit @Html.DisplayFor(model => model.Book.Title)</p>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CopyId)
  <table>
    <tr>
      <td>@Html.Label("Title")</td>
      <td>@Html.EditorFor(model => model.Book.Title)</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-info fa"><i class="fa-edit"> Save</i></button>
}
<hr />